*,
::before,
::after {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import './core/root';
@import './core/margin';
@import './core/vendor';
@import './core/display';

@import './fonts/sizes';
@import './fonts/family';
@import './fonts/elements';

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

summary {
    display: list-item;
}

progress {
    vertical-align: baseline;
}

legend {
    padding: 0;
}

hr {
    height: 0;
    color: inherit;
}

abbr[title] {
    text-decoration: underline dotted;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}
