:where(*, ::before, ::after) {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import './core/root';
@import './core/margin';
@import './core/vendor';
@import './core/display';

@import './fonts/sizes';
@import './fonts/family';
@import './fonts/elements';

:where(img) {
    max-width: 100%;
}

:where(table) {
    border-collapse: collapse;
    border-spacing: 0;
}

:where(caption, th, td) {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

:where(button) {
    cursor: pointer;
}

:where([type='search']) {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

:where(summary) {
    display: list-item;
}

:where(progress) {
    vertical-align: baseline;
}

:where(legend) {
    padding: 0;
}

:where(hr) {
    height: 0;
    color: inherit;
}

:where(abbr[title]) {
    text-decoration: underline dotted;
}

:where(sub, sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

:where(sub) {
    bottom: -0.25em;
}

:where(sup) {
    top: -0.5em;
}

:where(button, input, optgroup, select, textarea) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

:where(button, select) {
    text-transform: none;
}

:where(figure) {
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}
