:where(:root) {
    font-size: 16px;
    font-weight: normal;
}

:where(html, body) {
    margin: 0;
    height: 100%;
    font-size: 100%;
}

:where(html, button) {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
