:where(input, select, textarea) {
    font: inherit;
}

:where(a, ins) {
    text-decoration: none;
}

:where(u) {
    text-decoration: underline;
}

:where(pre, code, samp, kbd) {
    font-family: monospace;
}
