input,
select,
textarea {
    font: inherit;
}

a,
ins {
    text-decoration: none;
}

u {
    text-decoration: underline;
}

pre,
code,
samp,
kbd {
    font-family: monospace;
}

blockquote {
    border-left: 8px solid #ccc;
    padding: 4px 8px;
    quotes: none;
}
