$root: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

:where(:root) {
    font-size: 16px;
    font-family: $root;
}

:where(html, body) {
    margin: 0;
    height: 100%;
    font-size: 100%;
    font-family: $root;
}

:where(code, kbd, samp, pre) {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono',
        Menlo, monospace;

    font-size: 1em;
}
