$defaultFont: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$monoFont: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;

:root {
    font-size: 16px;
    font-family: $defaultFont;
}

html,
body {
    font-size: 100%;
    font-weight: normal;
    font-family: $defaultFont;

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    -moz-tab-size: 4;
    tab-size: 4;
}

input,
select,
textarea {
    font: inherit;
}

a,
ins {
    text-decoration: none;
}

u {
    text-decoration: underline;
}

code,
kbd,
samp,
pre {
    font-family: $monoFont;
}

strong,
b,
mark {
    font-weight: bold;
    font-style: inherit;
}

em,
i,
cite,
q,
address,
dfn,
var {
    font-style: italic;
    font-weight: inherit;
}
